---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout>
  <main class="w-screen p-2">
    <section class="w-full mx-auto">
      <div class="px-4 mx-auto max-w-screen-xl lg:px-6">
        <h1 class="mb-8 text-4xl tracking-tight font-bold text-gray-900">
          Research
        </h1>
        <h2 class="mb-2 text-2xl tracking-tight font-bold text-gray-900">
          Overview
        </h2>
        <p class="mb-8 font-light">
          Building a Data Fluent Canadian Cultural Sector emerged from a
          collaboration between OCAD University and SynapseC as part of the Data
          Echo Culture initiative. This collaboration revealed a significant gap
          in the availability and accessibility of cultural data across Canada.
          Efforts to locate researchers, datasets, and organizations were
          fragmented, underscoring the need for a centralized and organized
          resource.
        </p>
        <h2 class="mb-2 text-2xl tracking-tight font-bold text-gray-900">
          Current focus areas
        </h2>
      </div>
      <div
        class="grid md:grid-cols-2 grid-cols-1 gap-8 py-8 px-4 mx-auto max-w-screen-xl lg:pb-16 lg:px-6"
      >
        <div class="w-full md:h-72 p-4 flex flex-col bg-gray-200">
          <b class="text-xl font-bold">Metadata Framework</b>
          <p>
            Central to our efforts is the development of a robust metadata
            framework designed to organize and classify cultural datasets
            effectively. This framework includes six key categories: Content,
            Provenance, License & Access, Contact, Temporal/Geospatial, and
            Citation Networks. Together, these ensure that each dataset is
            described comprehensively, making it accessible and functional for
            researchers, organizations, and policymakers.
          </p>
        </div>
        <div class="w-full md:h-72 p-4 flex flex-col bg-gray-200">
          <b class="text-xl font-bold">Cultural Taxonomy</b>
          <p>
            In parallel, we are building a taxonomy tailored to Canada's unique
            cultural landscape. Rooted in Statistics Canada’s cultural
            disciplines, the taxonomy supports adaptability by allowing
            user-defined classifications in tertiary domains. This flexibility
            ensures inclusivity and adaptability for various sectors, enabling
            precise and contextually relevant categorization of datasets.
          </p>
        </div>
        <div class="w-full md:h-72 p-4 flex flex-col bg-gray-200">
          <b class="text-xl font-bold">Data Identification Process</b>
          <p>
            Adopting a top-down strategy, we identify cultural datasets from
            national, provincial, territorial, and municipal levels. This
            approach ensures a comprehensive overview of Canada’s diverse
            cultural landscape, encompassing archives, heritage, performing
            arts, literature, Indigenous culture, and more. By examining data
            collection methodologies, access conditions, and standards, we aim
            to map the ecosystem thoroughly. Special care is given to
            identifying datasets owned or governed by Indigenous communities,
            respecting their autonomy and consent.
          </p>
        </div>
        <div class="w-full md:h-72 p-4 flex flex-col bg-gray-200">
          <b class="text-xl font-bold">Collaboration and Governance</b>
          <p>
            A key focus is ensuring adherence to OCAP (Ownership, Control,
            Access, and Possession) and CARE (Collective Benefit, Authority to
            Control, Responsibility, and Ethics) principles in the catalog's
            design and governance. These frameworks safeguard Indigenous data
            sovereignty, ensuring that datasets reflecting Indigenous
            communities remain under their control. For example, the catalog
            lists metadata for datasets while redirecting access to the
            originating communities when permissions are required. This
            governance model emphasizes respect for ethical data stewardship,
            transparency, and equitable collaboration.
          </p>
        </div>
        <div class="w-full md:h-72 p-4 flex flex-col bg-gray-200">
          <b class="text-xl font-bold">Data Visualization</b>
          <p>
            To enhance usability, we are integrating advanced visualization
            tools, including timelines, network diagrams, and geospatial maps.
            These tools facilitate intuitive exploration, helping users identify
            patterns, relationships, and trends within datasets. Visualization
            strategies will cater to diverse user needs, ranging from academic
            researchers to policymakers, making the catalog both functional and
            insightful.
          </p>
        </div>
        <div class="w-full md:h-72 p-4 flex flex-col bg-gray-200">
          <b class="text-xl font-bold">Interactive Tools and Prototypes</b>
          <p>
            A prototype of the catalog is being developed on an SQL-based
            infrastructure, designed for scalability and efficiency. Future
            iterations will incorporate a user-friendly interface featuring
            simple and advanced search options, dataset upload capabilities, and
            interactive exploration tools. Feedback from partners and users will
            guide further refinements to ensure accessibility and engagement.
          </p>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
