---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout>
  <main class="w-screen p-2">
    <section class="w-full mx-auto">
      <div class="px-4 mx-auto max-w-screen-xl lg:px-6">
        <h1 class="mb-8 text-4xl tracking-tight font-bold text-gray-900">
          Research
        </h1>
        <h2 class="mb-2 text-2xl tracking-tight font-bold text-gray-900">
          Methodology
        </h2>
        <h3 class="text-xl tracking-tight font-bold text-gray-700">
          Digital Humanities Methods
        </h3>
        <p class="mb-4 font-light">
          Our research applies Digital Humanities methodologies, which explore
          the intersection of digital technology, archival practices, and
          cultural studies. Using advanced digital tools, we collect, analyze,
          present, and visualize cultural data in new ways. This approach allows
          for an iterative and experimental process, recognizing that innovation
          comes with occasional challenges. Through computational techniques, we
          build effective database navigation and provide interactive
          visualization, making cultural information more accessible and
          engaging.
        </p>
        <h3 class="text-xl tracking-tight font-bold text-gray-700">
          Literature review
        </h3>
        <p class="mb-4 font-light">
          We conducted a systematic literature review to explore best practices
          in archival science, data management, and digital humanities. By
          analyzing case studies and methodologies, we identified effective
          strategies for cataloging cultural datasets, developing strong
          metadata frameworks, and supporting research on cultural data in
          Canada.
        </p>
        <h3 class="text-xl tracking-tight font-bold text-gray-700">
          Identification and Scanning for Cultural Dataset
        </h3>
        <p class="mb-2 font-light">
          To build a comprehensive Canadian Cultural Database Catalogue (CCDC),
          we used a top-down approach to identify publicly available cultural
          datasets across Canada. Our method categorizes data at three levels:
        </p>
        <ul class="list-disc pl-8 mb-2 font-light">
          <li>National (e.g., federal agencies, national institutions)</li>
          <li>
            Provincial/Territorial (e.g., ministries, universities, arts
            councils)
          </li>
          <li>
            Municipal/Regional (e.g., local governments, community
            organizations)
          </li>
        </ul>
        <p class="mb-4 font-light">
          We also classify datasets by organizational type, including Indigenous
          organizations, non-profits, arts institutions, and for-profit
          entities. This structure ensures a broad and detailed view of Canada’s
          cultural landscape. The CCDC serves as a curated registry, listing
          datasets without directly hosting them, whether they are open-access,
          restricted, or licensed.
        </p>
        <h3 class="text-xl tracking-tight font-bold text-gray-700">Survey</h3>
        <p class="mb-4 font-light">
          To expand our dataset inventory, we conducted an online survey
          reaching out to experts in archives, cultural heritage, and related
          fields. The survey focused solely on identifying available datasets,
          ensuring that the CCDC remains a reliable and comprehensive resource
          for researchers, institutions, and the public.
        </p>

        <p class="mb-4 font-light">
          Our research focuses on the creation of a centralized cultural data
          catalogue that connects diverse datasets, fosters collaboration, and
          informs decision-making across the Canadian cultural sector. By
          promoting data fluency, we aim to enable stakeholders to learn from
          history, identify patterns, and respond effectively to the dynamic
          needs of the arts, cultural markets, and the broader economy.
        </p>
        <h2 class="mb-2 text-2xl tracking-tight font-bold text-gray-900">
          Current focus areas
        </h2>
      </div>
      <div
        class="grid lg:grid-cols-2 grid-cols-1 gap-8 py-8 px-4 mx-auto max-w-screen-xl lg:pb-16 lg:px-6"
      >
        <div class="w-full md:h-72 p-4 flex flex-col bg-gray-200">
          <b class="text-xl font-bold">Metadata Framework</b>
          <p>
            Central to our efforts is the development of a robust metadata
            framework designed to organize and classify cultural datasets
            effectively. This framework includes six key categories: Content,
            Provenance, License & Access, Contact, Temporal/Geospatial, and
            Citation Networks. Together, these ensure that each dataset is
            described comprehensively, making it accessible and functional for
            researchers, organizations, and policymakers.
          </p>
        </div>
        <div class="w-full md:h-72 p-4 flex flex-col bg-gray-200">
          <b class="text-xl font-bold">Cultural Taxonomy</b>
          <p>
            In parallel, we are building a taxonomy tailored to Canada's unique
            cultural landscape. Rooted in Statistics Canada’s cultural
            disciplines, the taxonomy supports adaptability by allowing
            user-defined classifications in tertiary domains. This flexibility
            ensures inclusivity and adaptability for various sectors, enabling
            precise and contextually relevant categorization of datasets.
          </p>
        </div>
        <div class="w-full md:h-72 p-4 flex flex-col bg-gray-200">
          <b class="text-xl font-bold">Data Identification Process</b>
          <p>
            Adopting a top-down strategy, we identify cultural datasets from
            national, provincial, territorial, and municipal levels. This
            approach ensures a comprehensive overview of Canada’s diverse
            cultural landscape, encompassing archives, heritage, performing
            arts, literature, Indigenous culture, and more. By examining data
            collection methodologies, access conditions, and standards, we aim
            to map the ecosystem thoroughly. Special care is given to
            identifying datasets owned or governed by Indigenous communities,
            respecting their autonomy and consent.
          </p>
        </div>
        <div class="w-full md:h-72 p-4 flex flex-col bg-gray-200">
          <b class="text-xl font-bold">Collaboration and Governance</b>
          <p>
            A key focus is ensuring adherence to OCAP (Ownership, Control,
            Access, and Possession) and CARE (Collective Benefit, Authority to
            Control, Responsibility, and Ethics) principles in the catalog's
            design and governance. These frameworks safeguard Indigenous data
            sovereignty, ensuring that datasets reflecting Indigenous
            communities remain under their control. For example, the catalog
            lists metadata for datasets while redirecting access to the
            originating communities when permissions are required. This
            governance model emphasizes respect for ethical data stewardship,
            transparency, and equitable collaboration.
          </p>
        </div>
        <div class="w-full md:h-72 p-4 flex flex-col bg-gray-200">
          <b class="text-xl font-bold">Data Visualization</b>
          <p>
            To enhance usability, we are integrating advanced visualization
            tools, including timelines, network diagrams, and geospatial maps.
            These tools facilitate intuitive exploration, helping users identify
            patterns, relationships, and trends within datasets. Visualization
            strategies will cater to diverse user needs, ranging from academic
            researchers to policymakers, making the catalog both functional and
            insightful.
          </p>
        </div>
        <div class="w-full md:h-72 p-4 flex flex-col bg-gray-200">
          <b class="text-xl font-bold">Interactive Tools and Prototypes</b>
          <p>
            A prototype of the catalog is being developed on an SQL-based
            infrastructure, designed for scalability and efficiency. Future
            iterations will incorporate a user-friendly interface featuring
            simple and advanced search options, dataset upload capabilities, and
            interactive exploration tools. Feedback from partners and users will
            guide further refinements to ensure accessibility and engagement.
          </p>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
