<nav
  class="flex flex-row justify-between items-center h-20 bg-slate-950 p-4 mb-4"
>
  <div class="text-gray-50 text-3xl font-bold ml-8">
    <a href="/cultural-database-page">OCAD U x synapse</a>
  </div>
  <div class="text-gray-50 text-lg mr-8 h-full">
    <ul class="flex flex-row gap-6 h-full items-center">
      <li class="h-full flex items-center hover:text-pink-500">
        <a
          href="/cultural-database-page/about-us"
          class="h-full flex items-center px-2"
        >
          About
        </a>
      </li>
      <li class="h-full flex items-center hover:text-pink-500">
        <a
          href="/cultural-database-page/research"
          class="h-full flex items-center px-2"
        >
          Research
        </a>
      </li>
      <li class="h-full flex items-center hover:text-pink-500">
        <a
          href="/cultural-database-page/future-direction"
          class="h-full flex items-center px-2"
        >
          Direction
        </a>
      </li>
    </ul>
  </div>
</nav>
