---
import TopBar from "../components/top-bar.astro";
import Footer from "../components/footer.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <base href="{import.meta.env.BASE_URL}" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/cultural-database-page/favicon.svg"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <TopBar />
    <slot />
    <Footer />
  </body>
</html>
